<nav class="bg-navbar-bg-color border border-navbar-border-color h-[96px] shadow-navbar-shadow flex items-center justify-between px-16">
            <!-- Logo -->
            <div class="navbar-logo ">
                <img class="h-[33.33px] cursor-pointer" src="/logo.svg" alt="">
            </div>

            <!-- Menü -->
            <div class="navbar-menu flex justify-end w-full space-x-4">
                <img class="h-[33.33px] w-[33.33px] cursor-pointer" src="/bell-icon.svg" alt="">
                <img class="h-[33.33px] w-[33.33px] cursor-pointer" src="/user-icon.svg" alt="">
                <img class="h-[33.33px] w-[33.33px] cursor-pointer" src="/menu-icon.svg" alt="">
            </div>

            <!-- <div class="hidden md:flex space-x-4">
                <a href="#" class="hover:text-gray-200">Home</a>
                <a href="#" class="hover:text-gray-200">About</a>
                <a href="#" class="hover:text-gray-200">Contact</a>
            </div> -->

            <!-- Mobile Menü Butonu -->
            <!-- <button class="md:hidden text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button> -->
</nav>